<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Your Cart</title>
<link
	href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	in tegrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
</head>
<body>
<form method="get" th:action="@{/checkout}">
	<div class="container" th:each="mapEntry: ${cart.getProductsMap}">
		<div class="item-display" th:text="${mapEntry.key.getName}"></div>
		<p class="item-display">Price each: </p><div class="item-display" th:text="${mapEntry.key.getPrice}"></div>
		<p>Quantity</p>
		<div class="item-display" th:text="${mapEntry.value}"></div>
	</div>
	
	<p>PreTax</p><div th:text="${cart.getPreTaxPrice}"></div>
	<p>Total</p><div th:text="${cart.getTotalPrice}">Total</div>
	
	<button type="submit">Continue To Checkout</button>
</form>
	<!-- <form method="post" th:action="@{/saveUpdatedCart}" th:object="${cart}">
			<input th:field="*{mapEntry.key.getProductId}"></span>
			
		</form> 
		<span th:text="${mapEntry.key.getName}"></span>
		<button th:onclick="increment()">+</button>
		<span id="counting" th:text="${mapEntry.value}"></span>
		<button th:onclick="increment()">-</button> -->
	<!-- <label class="form-label">Quantity</label> 
	<input placeholder="${mapEntry.value}" class="23form-control" id="quantity" name="quantity" type="text" /> -->

	 
</body>
</html>