<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="ISO-8859-1"> -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	
</script>
<link rel="stylesheet" type="text/css" th:href="@{/css/shopping.css}">
<title>Login</title>

</head>
<body>
<header>
      <h1>PRODUCT PAGE</h1>
      <nav>
        <ul>
          <li class="active"><a th:href="@{/}">Home</a></li>
          <li class="active"><a th:href="@{/shopping}">Shop</a>
            <!-- <div class="sub-menu-1">
                <a class ="li" href="#">Tea Leaves</a>
                 <a class ="li" href="#">Tea Pots</a>
            </div> -->
          </li>
          <!-- <li class="active"><a th:href="@{/login}">Log In</a></li> -->
          <li class="active"><a th:href="@{/cart4}" >Cart</a></li>
        </ul>
      </nav>
</header>
    
    <div class="grid-container">
      

      <div class ="row">
        <div class="column" >
        <form method="post" role="form" th:action="@{/addedBT}">
          <div class="title">BLACK TEA</div>
          <img class = "img" th:src="@{/images/black_tea.png}" alt="black-tea">
          <button class="btn btn-primary" type="submit">Save to cart</button>
          </form>
        </div>
        <div class="column" >
         <form method="post" role="form" th:action="@{/addedGT}">
          <div class="title">GREEN TEA</div>
         <img class = "img" th:src="@{/images/green_tea.png}" alt="green-tea">
          <button class="btn btn-primary" type="submit" onclick="alert('OUT OF STOCK')";>Save to cart</button>
          </form>
        </div>
        <div class="column" >
         <form method="post" role="form" th:action="@{/addedCM}">
          <div class="title">CHAM</div>
         <img class = "img" th:src="@{/images/chamomile.png}" alt="chamomile">
          <button class="btn btn-primary" type="submit" onclick="alert('OUT OF STOCK')";>Save to cart</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>